@import 'src/assets/colors.scss';

.vertical-sidebar {
    height: 100vh;
    transition: 200ms width ease-in-out;
    &.collapsed {
    width: 5rem;
    }
    &.not-collapsed {
    width: 15rem;
    }
}

.nav-bar {
    background-color: $white;
    // flex-grow: 1;
}

.sidebar-btn {
    background-color: $primary-color;
    color: $white;
}

.nav-list{
    list-style-type: none;
.nav-item {
    padding: 1.5rem 0.5rem;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    background-color: $gray;
    text-align: center;
    font-weight: 600;

&:hover, &.active{
    padding: 1.5rem 0.5rem;
    border-left: 5px solid $primary-color;
    background-color: $dark-gray;
    color: $white;
}

&.icon {
    background-color: $dark-gray;
    font-weight: 500;
    font-size: 2rem;
    color: $white;

    &:hover {
        border-left: 5px solid transparent;
    }
}
}
}

.form-inline {
    .form-control, .form-control:active, .form-control:focus {
        outline: none
    }
}

.sidebar-section {
    width: 20%;

    .btn-primary {
        background-color: $primary-color;
        color: $white;
        padding: 1rem 2rem;
        outline: none;
    }
}

.input-group {
    margin: 15px 0px;
}

.list-group {
    margin: 0px;
    padding: 0px 15px;
    .list-group-item {
        border: none;
    }
}
.bold {
    font-weight: bold;
}
.list-group-flush {
    border-bottom: 1px;
}

.compose-mail {
    margin-right: 15px !important;
}

.modal-body {
    padding: 0 15px;
}

.mail-grid {
    width: 80%;
    background-color: #f5f8fc;
}

.d-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.d-flex-column {
    display:flex;
    flex-direction: column;

}

.vertical-align {
    align-items: center;
}

.space-around {
    justify-content: space-around
}
.space-between {
    justify-content: space-between
}
.flex-start {
    justify-content: flex-start
}

textarea {
    width: 100%;
    margin-top: 15px;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.btn {
    margin: 3px;
}