<!-- <button class='sidebar-btn'>Sidebar</button> -->
<div class="d-flex">
  <div [ngClass]="{'vertical-sidebar': true, 'collapsed': isExpanded === false, 'not-collapsed': isExpanded === true}"
    class="">
    <ul class="nav-list">
      <li class="nav-item icon">IN+</li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 1
        }" (click)='setSideBarSelectedtion(1)'>1
        <span *ngIf='isExpanded'>Dashboard</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 2
        }" (click)='setSideBarSelectedtion(2)'>2
        <span *ngIf='isExpanded'>Layouts</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 3
        }" (click)='setSideBarSelectedtion(3)'>3
        <span *ngIf='isExpanded'>Graphs</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 4
        }" (click)='setSideBarSelectedtion(4)'>4
        <span *ngIf='isExpanded'>Mailbox</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 5
        }" (click)='setSideBarSelectedtion(5)'>5
        <span *ngIf='isExpanded'>Metrics</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 6
        }" (click)='setSideBarSelectedtion(6)'>6
        <span *ngIf='isExpanded'>Widgets</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 7
        }" (click)='setSideBarSelectedtion(7)'>7
        <span *ngIf='isExpanded'>Forms</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 8
        }" (click)='setSideBarSelectedtion(8)'>8
        <span *ngIf='isExpanded'>Dashboard</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 9
        }" (click)='setSideBarSelectedtion(9)'>9
        <span *ngIf='isExpanded'>Dashboard</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 10
        }" (click)='setSideBarSelectedtion(10)'>10
        <span *ngIf='isExpanded'>Dashboard</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 11
        }" (click)='setSideBarSelectedtion(11)'>11
        <span *ngIf='isExpanded'>Dashboard</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 12
        }" (click)='setSideBarSelectedtion(12)'>12
        <span *ngIf='isExpanded'>Dashboard</span></li>
      <li class="nav-item" [ngClass]="{
        'active': sideBarSelection  === 13
        }" (click)='setSideBarSelectedtion(13)'>13
        <span *ngIf='isExpanded'>Dashboard</span></li>
    </ul>
  </div>
  <div class="container d-flex-column flex-grow">
    <div class='nav-bar'>
      <nav class="navbar d-flex vertical-align flex-start navbar-expand-lg navbar-light bg-light">
        <div>
          <button class='sidebar-btn btn' (click)='toggleExpand()'>Expand</button>
        </div>
        <div class="d-flex space-between flex-grow">
          <div class="collapse navbar-collapse flex-grow">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </div>
          <button class='btn btn-secondary' (click)='signOut()'>Log out</button>
        </div>
      </nav>
    </div>
    <div>
      <div>
        <div class="content d-flex">
          <div class="sidebar-section d-flex-column">
            <button type="button" class="btn btn-primary compose-mail" data-toggle="modal" data-target="#myModal"
              (click)='reset()'>Compose
              Mail</button>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bold">FOLDERS</li>
              <li class="list-group-item">Inbox
                <span class="badge badge-warning badge-pill">16</span>
              </li>
              <li class="list-group-item">Send Mail</li>
              <li class="list-group-item">Important</li>
              <li class="list-group-item">Drafts
                <span class="badge badge-danger badge-pill">2</span>
              </li>
              <li class="list-group-item">Trash</li>
            </ul>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bold">CATEFORIES</li>
              <li class="list-group-item">Work</li>
              <li class="list-group-item">Documents</li>
              <li class="list-group-item">Social</li>
              <li class="list-group-item">Advertising</li>
              <li class="list-group-item">Client</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item bold">LABELS</li>
              <button type="button" class="btn btn-default btn-sm">Family</button>
              <button type="button" class="btn btn-default btn-sm">Work</button>
              <button type="button" class="btn btn-default btn-sm">Home</button>
              <button type="button" class="btn btn-default btn-sm">Children</button>
              <button type="button" class="btn btn-default btn-sm">Holidays</button>
              <button type="button" class="btn btn-default btn-sm">Music</button>
              <button type="button" class="btn btn-default btn-sm">Photography</button>
              <button type="button" class="btn btn-default btn-sm">Film</button>
            </ul>
          </div>

          <div class="mail-grid">
            <table *ngIf='emails && emails.length > 0' class="table">
              <thead>
                <th>From</th>
                <th>Subject</th>
                <th>Content</th>
              </thead>
              <tbody>
                <tr *ngFor="let email of emails">
                  <td><span class="text-overflow">{{email.from}}</span></td>
                  <td>{{email.subject}}</td>
                  <td>{{email.body}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <form [formGroup]="composeMailForm">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Message</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <span class="input-group-addon">To&nbsp;</span>
              <input type="text" class="form-control" formControlName="toAddress" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Cc</span>
              <input type="text" class="form-control" formControlName="ccAddress" />
            </div>
            <div class="input-group-btn">
              <input type="text" class="form-control" placeholder="Subject" formControlName="subject" />
            </div>
          </div>
          <div class="modal-body">
            <div class="input-group-btn">
              <textarea type="text" class="form-control" rows="8" formControlName="body">
              </textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSend()" [disabled]="composeMailForm.invalid">Send</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>