<div class="container">
  <div class="login-form">
    <form [formGroup]="loginForm">
      <h1>Login</h1>
      <div class="col-md-12 col-sm-12">
        <label><span class="red">* </span>Email ID:</label>
        <div class="form-group">
          <input class="form-control" type="email" placeholder="Enter Email ID" required formControlName="email" />
          <div *ngIf="
          loginForm.controls.email.errors && 
          (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
            <small class="text-danger">
              This field is required.
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <label><span class="red">* </span>Password:</label>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Enter password" required formControlName="password" />
          <div *ngIf="
          loginForm.controls.password.errors && 
          (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
            <small class="text-danger">
              This field is required.
            </small>
          </div>
        </div>
      </div>
      <div class="button-group">
        <button class="btn btn-primary" type="submit" (click)="onLogin()" [disabled]="!loginForm.valid">Login</button>
        <button class="btn btn-secondary ml-4" type="submit" (click)="onSeed()">Seed Data</button>
      </div>
    </form>
  </div>
</div>