<!-- <p>
  login works!
</p> -->
<form [formGroup]="loginForm">
  <div class="row">
    <label>Email ID:</label><span class="red"> *</span>
    <input type="email" placeholder="Enter Email ID" required formControlName="email" />
  </div>
  <div class="row">
    <label>Password:</label><span class="red"> *</span>
    <input type="password" placeholder="Enter password" required formControlName="password" />
  </div>
  <button class="btn btn-primary" type="submit" (click)="onLogin()">Login</button>
</form>